<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

        <!-- Правильные настройки подключения -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mydatabase</property>
        <property name="hibernate.connection.username">andrey</property>
        <property name="hibernate.connection.password">5555</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <!-- Общие настройки Hibernate -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- Настройки автоматической генерации схемы -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Настройки кэширования -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <!-- Дополнительные настройки транзакций -->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.autocommit">false</property>
        <mapping class="com.example.models.User"/>
    </session-factory>
</hibernate-configuration>